body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f48822;
}

h1 {
    color: #333;
    text-align: center;
}

#orderSummary {
    margin-top: 20px;
    padding: 10px;
    background-color: #ef540d;
    border: 1px solid #ff0202;
    text-align: center;
}
 